* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 35px;
    background-color: #2b852b; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    max-height: 65px;
}



.nav_header {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.ul_header {
    list-style: none;
    display: flex;
    gap: 20px;
}

.ul_header li {
    display: flex;
    align-items: center;
}

.ul_header a {
    color: #ffffff; 
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.ul_header a:hover {
    background-color: #06a00e; 
}

/* Media query para el efecto responsive */
@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav_header {
        width: 100%;
    }

    .ul_header {
        flex-direction: column;
        width: 100%;
    }

    .ul_header a {
        width: 100%;
        text-align: center;
        padding: 12px 0;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 20px;
    text-align: center;
}

button{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
form input[type="submit"]:hover,
form input[type="reset"]:hover,button:hover{
    background-color: #a4a8a7;
    cursor: pointer;   
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

form label {
    width: 100px; 
    text-align: right;
    padding-right: 10px;
    flex: 0 0 auto; 
    margin-bottom: 5px;
    margin-top: 15px;
}

form input[type="text"],
form input[type="submit"],
form input[type="reset"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fff;
}
